/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*** Layout ***/

section {
  margin: 0 auto;
  max-width: 900px;
}

nav,
nav a,
.col-2,
.col-3,
footer span,
.hero span {
  display: inline-block;
}

.col-2 {
  width: 45%;
  margin: 20px;
}
.col-3 {
  width: 28%;
  margin: 20px;
}

hr {
  margin: 20px;
}

/*** Header ***/    

header {
  background: #0379df;
  position: fixed;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 5px -3px rgba(128, 128, 128, 0.8); 
}

nav a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: 20px;
}
header img {
  vertical-align: middle;
  margin: 25px 35px 25px;
}

/*** Content ***/

h1 {
  font-size: 70px;
}

.hero {
  padding-top: 100px;  
}

.hero .col-2 {
  text-align: center;
  vertical-align: middle;
}
.hero span {
  font-size: 16px;
  padding: 6px 40px;
  border: 1px solid black;
}
.hero img {
  vertical-align: middle;
  margin: 20px;
}

.content img {
  margin: 20px;
}

/*** Footer ***/

footer {
  margin: 40px 20px 20px;
}
footer span {
  width: 100%;
  text-align: center;
  margin: 30px 0 80px;
}
